:root {
    --primary--color: #d500f9;
    --dark--color: #efebe9;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    background-color: var(--dark--color);
    padding: 10px;
    margin-top: 1px;
    cursor: pointer;
    transition: all 0.25s;
}
ul li:hover {
    background-color: var(--primary--color);
    color: white;
}
button {
    background-color: var(--primary--color)!important;
    border: none!important;
}
[class^=section]{
    background-color: var(--dark--color);
    padding: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 
}
input,select {
    border: none !important;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) inset;
}
input,select :focus {
    border-color: none !important;
}